body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

  font: 18px/1.5 sans-serif;
}

.chessboard {
  width: 500px;
  height: 500px;

  background: #b58763;

  border-collapse: collapse;
}

/* BEGIN (write your solution here) */
tr:nth-child(2n + 1) td:nth-child(2n + 1) {
  background: #f1d9b5;
}

tr:nth-child(2n) td:nth-child(2n) {
  background: #f1d9b5;
}
/* END */