body {
    margin: 0;
  
    /* BEGIN (write your solution here) */

    /* END */
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  /* BEGIN (write your solution here) */

  /* END */
  
  h2 {
    /* BEGIN (write your solution here) */

    /* END */
  
    border-bottom: 2px solid #e3e3e3;
  }
  
  main {
    width: 900px;
    margin: auto;
  }
  
  /* BEGIN (write your solution here) */

  /* END */
  